.container {
  padding: 30px;

  .header_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &_search{
      width: 30%;
      height: 45px;
      padding: 12px 20px;

      border: 1px solid #157ec0;
      border-radius: 30px;
    }
    select{
      width: 12%;
      height: 45px;
      padding-left: 12px;
      border: 1px solid #157ec0;
      border-radius: 30px;
    }
  }
  .main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }
}
